@using EntityLayer.Contrete
@model List<Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Bloglar</h3>
        <div class="inner-sec">
            <!--left-->
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">

                    @foreach (var x in Model)
                    {


                        <div class="col-lg-4 card">
                            <a href="single.html">
                                <img src="@x.BlogImage" class="card-img-top img-fluid" alt="">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="/Blog/BlogReadAll/@x.BlogID">
                                            <i class="far fa-calendar-alt"></i>@x.BlogCreateDate
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-comment"></i> 0
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-bars"></i> 
                                        </a>
                                    </li>

                                </ul>
                                <h5 class="card-title">
                                    <a href="/Blog/BlogReadAll/@x.BlogID">@x.BlogTitle</a>
                                </h5>
                                <p class="card-text mb-3">@x.BlogContent.Substring(0,x.BlogContent.Substring(0,120).LastIndexOf(""))... </p>
                                <a href="/Blog/BlogReadAll/@x.BlogID" class="btn btn-primary read-m">Devamini Oku</a>
                            </div>
                        </div><br />
                    }

                   
                </div>
                <!--//left-->
            </div>
        </div>
    </div>
</section>
<!--//main-->
