@using EntityLayer.Contrete
@model List<Category>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!DOCTYPE html>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori Adi</th>
        <th>Durumu</th>
        <th>Detaylar</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="" class="btn btn-warning" >@item.CategoryDescription   </a></td>
            <td><button class="btn btn-danger">Sil</button></td>
        </tr>
    }


</table>
